.image-container {
  height: 600px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.przychodnia-description {
  background-color: #42cf72;
  margin-right: -15px;
  padding: 30px;
  padding-top: 50px;
  line-height: 2.5;
}

.services-description {
  width: 20rem;
  height: 160px;
  margin: 15px;
  transition: transform 0.3s ease;
}

.services-description:hover {
  transform: scale(1.05);
}

.trophy-description {
  padding-top: 30px;
  margin-top: 40px;
  background-color: #42cf72;
  height: 500px;
}

.trophy-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.trophy-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-left: 40px;
}

.trophy-win-description {
  margin: 20px;
  margin-top: 27px;
  line-height: 2;
}
