.image-container {
  height: 600px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.przychodnia-description {
  background-color: #42cf72;
  margin-right: -15px;
  padding: 30px;
  padding-top: 50px;
  line-height: 2.5;
}

.services-description {
  width: 20rem;
  height: 160px;
  margin: 15px;
  transition: transform 0.3s ease;
}

.services-description:hover {
  transform: scale(1.05);
}
