.image-container {
  height: 600px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.przychodnia-description {
  background-color: #42cf72;
  margin-right: -15px;
  padding: 30px;
  padding-top: 50px;
  line-height: 2.5;
}
