.service-page {
  background-color: #42cf72;
}

.service-page > .card {
  border: none;
  border-radius: 0.75rem;
  min-height: 210px;
  transition: transform 0.3s ease;
}

.service-page > .card:hover {
  transform: scale(1.05);
}

.service-page .card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #198754;
}

.service-page .card-text {
  font-size: 1rem;
  color: #343a40;
}
