.account-accordion {
  flex-direction: column;
}

.account-accordion__item {
  width: 650px;
}

.accordion-button {
  background-color: #198754;
  color: white;
}

.accordion-button[aria-expanded="true"] {
  background-color: #198754;
  color: white;
}

.accordion-button::after {
  filter: invert(1);
}
