.calendar-container {
  margin: 25px 0px 25px 0px;
  min-height: 485px;
}

.fc-list-empty {
  min-height: 400px !important;
  min-width: 1040px !important;
}

.fc-list-table {
  width: 900px !important;
}

.fc-list-day {
  a {
    color: #198754 !important;
    text-decoration: none;
  }
}

.fc-event:hover {
  cursor: pointer;
}

.error-message {
  color: red;
}
