.input-field {
  border-radius: 25px;
  padding: 12px 20px;
  font-size: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 40%;
}

.input-field:focus {
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.1),
    0 0 0 0.15rem rgba(25, 135, 84, 0.25);
}
